.parent {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.child1 {
  padding: 50px;
  background-color: green;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.child2 {
  padding: 50px;
  background-color: red;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  flex-grow: 3;
}
.child3 {
  padding: 50px;
  background-color: blue;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
